@import 'bootstrap';

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

label {
    color: $secondary;
}

.form-control {
    background-color: transparent;
    color: white;
}